@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

.left {
    width: 25vw;
    height: 100vh;

}

.right {
    width: 75vw;
    height: 100vh;
    position: relative;
}

.left ul li {
    /* width: px; */
    height: 30px;
    font-size: small;
    list-style: none;
    display: flex;
    text-align: center;
    align-items: center;
    gap: 3px;
    margin-left: 80px;
    font-weight: 700;

}

.left .logo img {


    height: 30px;
    align-items: center;
    gap: 10px;


}

.left .logo {
    display: flex;
    align-items: center;
    gap: 3px;
    margin-bottom: 10px;

}

.left ul li img {
    height: 17px;
}

@media screen and (max-width: 480px) {
    body {
        margin: 0;
        padding: 0;
    }

    .left {
        height: 0;
        width: 0;
        margin: 0;
        padding: 0;
    }

    .left .library ol {
        height: 0;
        width: 0;
        padding: 0;
        margin: 0;
    }

    .right {
        height: 100vh;
        width: 100vw;
        box-sizing: border-box;
        position: fixed;
    }
}

.Search .logo:nth-child(1) {
    font-weight: 900;
}

.library {
    min-height: 50vh;
}

.library ol {
    display: flex;
    flex-direction: column;
    margin: 40px;
}

.library ol li:hover {
    color: #af59ff;
}

.arrow img {
    height: 20px;

}

.nav {
    justify-content: space-between;
    margin-top: 10px;
    padding: 20px;
    display: flex;
    align-items: center;
    height: 47px;
}

.buttons {
    display: flex;
    gap: 10px;
}

button {
    border: none;
    font-size: 16px;
    font-weight: 700;

}

button:nth-child(2) {
    padding: 12px;
    border-radius: 30px;
    padding-left: 21px;
    padding-right: 21px;
    color: rgb(39, 39, 39);
}

button:nth-child(1) {
    color: rgb(207, 205, 205);
    background: rgb(12, 12, 12);
}

.btn-signup:hover {
    transform: scale(1.05);
    color: white;
    cursor: pointer;
}

.btn-login:hover {
    transform: scale(1.05);
    color: black;
    cursor: pointer;

}


.Playlist {
    color: white;
    position: relative;
}

.cardContainer {
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    max-height: 70vh;
    overflow-y: scroll;
}

.play-button {
    position: absolute;
    bottom: 70px;
    right: 13px;
    opacity: 0;
}

.card:hover .play-button {
    opacity: 1;
    transition: 0.5s ease-out;
    bottom: 83px;
    right: 13px;
    cursor: pointer;


}

.play-button:hover {
    transform: scale(1.2);

}

.card:hover {
    cursor: pointer;
    transform: scale(1.05);
    background-color: #3b3b3b;
}

.card {
    background-color: rgb(0, 0, 0);
    width: 180px;
    padding: 14px;
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 7px;


}

.card img {
    width: 100%;
}

.card .cover1 {
    height: 180px;
    object-fit: cover;
    object-position: center;
}

@media screen and (max-width:480px) {
    .card {
        background-color: rgb(0, 0, 0);
        width: 100px;
        padding: 14px;
        display: flex;
        flex-direction: column;
        position: relative;
        border-radius: 7px;
        font-size: small;
    }

    .card img {
        width: 100%;
    }

    .card .cover1 {
        height: 100px;
        object-fit: cover;
        object-position: center;
    }
}

.player {
    position: absolute;
    bottom: 20;
    color: rgb(161, 29, 29);
    width: 100%;
    background: #150821;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    gap: 5px;
    justify-content: center;
}

.player img {

    width: 33px;
}