.border{
    border: 2px solid red;
}

.flex{
    display: flex;
}

.justify-center{
    justify-content: center;
}

.item-center{
    align-items: center;
}

.invert{
    filter: invert();
}

.bg-black{
    background-color: black;
}
.bg-grey{
    background-color: #1f1f1f;
}

.rounded{
    border-radius: 8px;
}

.m1{
    margin: 10px;
}

.p1{
    padding: 10px;
}

.fw{
 font-weight:700;
}
.white{
    color: white;
}