.border{
    border: 2px solid red;
}

.flex{
    display: flex;
}

.justify-center{
    justify-content: center;
}

.item-center{
    align-items: center;
}

.invert{
    filter: invert();
}

.bg-black{
    background-color: black;
}
.bg-grey{
    background-color: #1f1f1f;
}

.rounded{
    border-radius: 8px;
}

.m1{
    margin: 10px;
}

.p1{
    padding: 10px;
}

.fw{
 font-weight:700;
}
.white{
    color: white;
}

.bg-dgrey{
    background-color: rgb(12, 12, 12);
}


::-webkit-scrollbar {
  width: 10px; 
}

::-webkit-scrollbar-track {
  background: #0d0d0d; 
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #a855f7, #4b0082); 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #9c27ff, #5a189a); 
}


* {
  scrollbar-width: medium;
  scrollbar-color: #7a00ff #0d0d0d; 
}
